<div class="container">
  <div class="row main-content">
    <div class="col-12 question-content">
      <div class="row">
        <div class="col-12 title">
          <h4 class="question-title">
            Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis?
          </h4>
        </div>
        <div class="col-9 question-detail">
          <table>
            <tbody>
              <tr>
                <td class="vote-cell">
                  <div class="vote">
                    <a class="up-vote"></a>
                    <span class="votes-count"></span>
                    <a class="down-vote"></a>
                  </div>
                </td>
                <td class="post-cell">
                  <div class="content">
                    The installer for 'El Capitan' stops and says "File system verify or repair failed. Quit the installer to restart your computer
                    and try again." It shows a "Restart" button. When I restart, it gets back to exactly the same place again.
                    How do I quit the installer so it doesn't start again upon boot? I tried holding command-s on restart
                    (from here), but that did nothing. I do not have a recent system disk available. Edit: I shut down completely.
                    Let it stay powered off for 30 seconds. Restart holding down command-r (as noted here and in one answer
                    below). It chimes, goes through 3/4 of one progress bar, starts another progress bar, goes through half,
                    then says "Install OS X" and looks exactly like the (failing) 'El Capitan' upgrade. It has ignored my
                    command-r I believe. This page says "It's possible that you didn't press Command-R early enough. Restart
                    and try again." I think that is unlikely, since I held it down right from the start. Edit 2: Restart
                    has a menu, with "Disk Utilities", "Terminal", etc. When I try to quit the installer, it wants me to
                    choose another startup disk. Once it didn't like "Macintosh HD" as a choice, but then on a second round
                    it was fine. When I try to repair the disk, I get "file system check exit code is 8", so I think the
                    disk is hard to repair, (perhaps because it is mounted?). I have an external drive, but it has the backup,
                    so I don't know how to make it a bootable drive. In /var/log/install.log there is "WARNING: 997: Failure
                    to setup sound, err = -50", but I think that is not important.
                  </div>
                  <div class="tags-list">
                    <a class="tag-post">ios</a>
                    <a class="tag-post">development</a>
                    <a class="tag-post">ios application</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-3 side-bar">
          <div class="status">
            <table class="qinfo">
              <tbody>
                <tr>
                  <td>
                    <p class="p-label">Asked</p>
                  </td>
                  <td>
                    <p class="p-label asked-time">
                      <b>2h ago</b>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="p-label">Views</p>
                  </td>
                  <td>
                    <p class="p-label asked-time">
                      <b>112</b>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="p-label">Answers</p>
                  </td>
                  <td>
                    <p class="p-label asked-time">
                      <b>12</b>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="avatar">
                  </td>
                  <td>
                    <table>
                      <tbody>
                        <tr>
                          <td>Aries92</td>
                        </tr>
                        <tr>
                          <td>Cong Nghe Thong Tin</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>