<div class="container">
  <div class="row justify-content-center register-box">
    <div class="col-6">
      <div *ngIf="status === 422">
        <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
            {{ error.msg }}
          </div>
      </div>

      <div *ngIf="status === 401">
        <p>{{ errors }}</p>
      </div>
      <div class="panel card">
        <div class="panel-heading">
          <div class="panel-title">Đăng Ký Tài Khoản</div>
        </div>
        <div class="panel-body">
            <small class="form-text error-text">Error text here..!</small>
            <div class="form-group">

              <input type="email" [(ngModel)]="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">

              <input type="text" [(ngModel)]="username" class="form-control" placeholder="Tên đăng nhập">
            </div>
            <div class="form-group">

              <input type="password" [(ngModel)]="password" class="form-control" placeholder="Mật khẩu">
            </div>
            <div class="form-group">

              <input type="password" [(ngModel)]="passwordConfirmation" class="form-control" placeholder="Xác nhận mật khẩu">
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input"><small> Đồng ý với quy định.</small>
              </label>
            </div>
            <button class="btn btn-success" on-click="register()">Đăng ký</button>
            <button class="btn btn-info" (click)="onRegisterWithFacebook()">Đăng ký qua facebook</button>
            <br>
            <div class="div-line"></div>
            <div class="dont-have-account">
              Đã có tài khoản!
              <a href="#" routerLink="/login">Đăng nhập</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
